$view-port-height: 100vh;
$view-port-width: 100vw;

$colors_set1: deepskyblue, coral, darkcyan, darkolivegreen, darkgoldenrod, deepskyblue;
$colors_set2: coral, darkcyan, darkolivegreen, darkgoldenrod, deepskyblue, coral;
$colors_set3: darkcyan, darkolivegreen, darkgoldenrod, deepskyblue, coral, darkcyan;