<div class="banner jumbotron text-center">
        <div class="bannerContainer">
            <div class="contactContainer">
                <div class="centerBorder">
                    <div class="centerBorder">
                        <div class="innerBorder">
                            <div class="container fullHeight">
                                <div class="row" style="height: 20%">
                                    <h2 class="col-sm-8" style="float:left; text-align: left">Contact me</h2>
                                    <div class="col-sm-2" style="float:right; padding-top: 15px;">
                                    <img src="../images/stamp.png" style="float:right;">
                                    </div>
                                </div>
                                <div class="row" style="height: 65%">
                                    <div class="col-sm-4" style="border-right: solid 1px; height: 100%;">
                                        <div style="height: 50%; position: relative;"><p style="font-size: 16px; position:absolute; bottom: 0;">If you'd like to make an enquiry, please feel free to get in touch, and I will respond as soon as possible.</p></div>
                                        <div style="height:50%; position: relative;"><p style="font-size: 16px; position: absolute; top: 0;">If you prefer to contact me directly, send your Email to: cvchakradharreddy@gmail.com</p></div>
                                    </div>

                                    <div class="col-sm-8" style="height: 100%">
                                        <div>
                                            <form>
                                                <div class="contactDiv">
                                                    <input type="text" placeholder="Name" class="contactInput" required> 
                                                </div>
                                                <div class="contactDiv">
                                                    <input type="email" placeholder="Email" class="contactInput" required>
                                                </div>
                                                 <div class="contactDiv">
                                                     <textarea rows="3" class="contactMessage" placeholder="Message" required></textarea>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="height: 10%">
                                    <button class="sendButton">Send<span class="icon-right"></span>
                                        <span class="icon-right after"></span></button>
                                </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <p style="font-size: small; color: gray; font-weight: bold; padding-top: 5px;"><i><sup>*</sup>Working with Mandrill + AngularJS to setup mail functionality: Expect soon </i></p>
    </div>