<div class="banner jumbotron text-center">
        <div class="bannerContainer">
            <div style="width: 100%">
                <div>
                 <h1 style="color: ghostwhite; display: inline-block;">Hi, I'm</h1><h1 id="myInfoList" style="color:cornsilk; display: inline-block; margin-left: 15px;" class="animated" >Venkata Challa</h1>
                </div>
                <div class="myContactInfo">
                    <div class="alignRight">
                        <button class="contact">
                          <div class="myButtons contactButton">
                              <div class='layer' data-ng-click="selectPage(viewPages[3].id)"><i class="fab fa-telegram-plane"></i></div>Contact
                          </div>
                        </button>
                    </div>
                     <div class="alignLeft">
                        <a href="/docs/resume.pdf" download="Venkata_Chakradhar_Reddy_Challa_Resume">
                            <button  class="myButtons resumeButton"><div class='layer'><i class="fas fa-file-alt"></i></div>Resume</button> </a>
                    </div>
                </div>     
            </div>
        </div>
        <p>Best viewed on Google Chrome</p>
    </div>